<header>
    <div id="logo"><a href="/"><%= image_tag "logo.jpg" %></a></div>
    <div class="link">
        <ul class="nav">
            <li class="japanese">
                <%= link_to '国語', {controller: 'hello', action:'japanese'} %>
            </li>
            <li class="math">
                <%= link_to '算数', {controller: 'hello', action:'math'} %>
            </li>
            <li class="social">
                <%= link_to '社会', {controller: 'hello', action:'social'} %>
            </li>
            <li class="science">
                <%= link_to '理科', {controller: 'hello', action:'science'} %>
            </li>
            <li class="english">
                <%= link_to '英語', {controller: 'hello', action:'english'} %>
            </li>
        </ul>
    </div>

    <div id="login">
        <button type="button" id="js-btn">
            <span class="btn-line"></span>
        </button>
        <% if account_signed_in? %>
            <div class="btn" id="collection_btn"><%= link_to '学習記録', controller: 'collections' %></div>

            <div class="btn" id="login_btn"><%=link_to 'ログアウト', destroy_account_session_path, method: :delete %></div>
        <% else %>
            <div class="btn" id="login_btn"><%=link_to 'ログイン', {controller: 'hello', action:'login_check'} %></div>
        <% end %>
    </div>

</header>

<div class="back">
    <div id="page_top"><a></a></div>

    <div class="contents">
        <div id="main_title">LIBERAL EARTH</div>
        <h1>「<ruby>LIBERAL EARTH<rt>リベラルアース</rt></ruby>」へようこそ！</h1>
        <p>このサイトでは、学びの基礎となる読み書き計算を楽しく学べます。<br>基礎を身につけ、世界のこと、人のこと、いろんなことを学んでいくと自由が広がります。<br>学習の土台づくりの一助となれば幸いです。</p>
        <%= image_tag "welcome.jpg", id: "welcome" %>
    
    <% if account_signed_in? then %>
        <p>「<%= @account.email %>」でログインしてるよ！</p>
    <% else %>
        <p>ログインすると<ruby>学<rt>まな</rt></ruby>びの<ruby>記録<rt>きろく</rt></ruby>がのこせるよ！<br>※現在「国語」のみ利用可能</p>
    <% end %>


    <hr>
    <h1>つかいかた</h1>
    <p><ruby>漢字<rt>かんじ</rt></ruby>クイズを<ruby>体験<rt>たいけん</rt></ruby>してみよう！</p>
    <%= image_tag "intro0.jpg", class: "intro" %>
    <%= image_tag "intro1.jpg", class: "intro" %>
    <%= image_tag "intro2.jpg", class: "intro" %>
    <%= image_tag "intro3.jpg", class: "intro" %>
    <%= image_tag "intro4.jpg", class: "intro" %>
    <%= image_tag "intro5.jpg", class: "intro" %>
    <%= image_tag "intro6.jpg", class: "intro" %>
    
        
    <%= javascript_pack_tag 'hello_image'%>
    <%= javascript_pack_tag 'toggle'%>
    </div>
</div>
<footer>
    <small>(C) 2022 LIBERAL EARTH (学習サイト) All Rights Reserved.</small>
</footer>