<header>
    <div id="logo"><div id="logo"><a href="/"><%= image_tag "logo.jpg" %></a></div></div>
    <div class="link">
        <ul class="nav">
            <li class="japanese">
                <%= link_to '国語', {controller: 'hello', action:'japanese'} %>
            </li>
            <li class="math">
                <%= link_to '算数', {controller: 'hello', action:'math'} %>
            </li>
            <li class="social">
                <%= link_to '社会', {controller: 'hello', action:'social'} %>
            </li>
            <li class="science">
                <%= link_to '理科', {controller: 'hello', action:'science'} %>
            </li>
            <li class="english">
                <%= link_to '英語', {controller: 'hello', action:'english'} %>
            </li>
        </ul>
    </div>

    <div id="login">
        <button type="button" id="js-btn">
            <span class="btn-line"></span>
        </button>
        <% if account_signed_in? %>
            <div class="btn" id="login_btn"><%=link_to 'ログアウト', destroy_account_session_path, method: :delete %></div>
        <% else %>
            <div class="btn" id="login_btn"><%=link_to 'ログイン', {controller: 'hello', action:'login_check'} %></div>
        <% end %>
    </div>
    
</header>

<div class="back">
<div id="page_top"><a></a></div>
<div id="title"><ruby>学習記録<rt>がくしゅうきろく</rt></ruby></div>
<div class="contents">
    <h1>↓　がんばった<ruby>記録<rt>きろく</rt></ruby>はここにのこる！　↓</h1>
        <p class="dummy_data" value="user_id">
            <%= @study_record.user_id %>
        </p>
        <p class="dummy_data" value="１年データ">
            <%= @correct_to_js[0] %>
        </p>
        <p class="dummy_data" value="２年データ">
            <%= @correct_to_js[1] %>
        </p>
        <p class="dummy_data" value="３年データ">
            <%= @correct_to_js[2] %>
        </p>
        <p class="dummy_data" value="４年データ">
            <%= @correct_to_js[3] %>
        </p>
        <p class="dummy_data" value="５年データ">
            <%= @correct_to_js[4] %>
        </p>
        <p class="dummy_data" value="６年データ">
            <%= @correct_to_js[5] %>
        </p>
    
    <%= image_tag "introduction.jpg", id: "welcome" %>


    <div class="container_to_clone">
        <h2 class="grade"></h2>
        <div class="card_list">
            <button class="cards" type="button"></button>
        </div>
        <hr>
    </div>
    
    <hr>
    <div class="btn" id="delete_collections"><%= link_to '学習記録を削除', controller: 'kanji_quiz', action: 'delete' %></div>


    <div class="popup" id="js-popup">
        <div class="popup-inner">
          <div class="close-btn" id="js-close-btn"><i class="fas fa-times"></i></div>
          <%= image_tag "/white.jpg", id:"image_file" %>
        </div>
        <div class="black-background" id="js-black-bg"></div>
    </div>
    
        
    
    
    <%= javascript_pack_tag 'toggle'%>
    <%= javascript_pack_tag 'collections'%>
    </div>
</div>
<footer>
    <small>(C) 2022 LIBERAL EARTH (学習サイト) All Rights Reserved.</small>
</footer>