<header>
    <div id="logo"><a href="/">LIBERAL EARTH</a></div>
    <div class="link">
        <ul class="nav">
            <li class="japanese">
                <a class="changeGradeButton">１年漢字</a>
            </li>
            <li class="japanese">
                <a class="changeGradeButton">２年漢字</a>
            </li>
            <li class="japanese">
                <a class="changeGradeButton">３年漢字</a>
            </li>
            <li class="japanese">
                <a class="changeGradeButton">４年漢字</a>
            </li>
            <li class="japanese">
                <a class="changeGradeButton">５年漢字</a>
            </li>
            <li class="japanese">
                <a class="changeGradeButton">６年漢字</a>
            </li>
            
        </ul>
</div>

    <button type="button" id="js-btn">
        <span class="btn-line"></span>
    </button>
    <div class="btn" id="collection_btn">図鑑</div>
    <div class="btn" id="login_btn">ログイン</div>
</header>

<div class="back">
    <div id="page_top"><a href="#"></a></div>
    <div id="title">漢字の読み</div>
    <div class="contents">
        <h1>繰り返し練習して、漢字の読み方を覚えよう！</h1>
        <p class="dummy_data">
        １年データ<%= @collections.grade1 %>
        </p>
        <p class="dummy_data">
        ２年データ<%= @collections.grade2 %>
        </p>
        <p class="dummy_data">
        ３年データ<%= @collections.grade3 %>
        </p>
        <p class="dummy_data">
        ４年データ<%= @collections.grade4 %>
        </p>
        <p class="dummy_data">
        ５年データ<%= @collections.grade5 %>
        </p>
        <p class="dummy_data">
        ６年データ<%= @collections.grade6 %>
        </p>
        <h2 id="grade">小１</h2>
        <div class="kanji_list">
            <button onclick="location.href='#kanji'" class="kanjis" type="button"></button>
        </div>
        
        <p id="kanji"></p>
            <div class="quiz_clone">
                <p class="question"></p>
                <div class="how_to_read_container">
                    <div class="how_to_read_question">
                        <p class="question_input_A"></p>
                        <form onsubmit="return false">
                            <input class="how_to_read" type="text" value="" maxlength="10">
                        </form>
                        <p class="question_input_B"></p>
                    </div>
                </div>
                <hr>
            </div>


            <div id="correct_message"></div>
            <button type="button" id="answerButton">答え合わせ</button>
        <hr>
        <div id="congratulations">クリア！おめでとう！！</div>
        <div class="btn" id="registerButton"><a href="/kanji_quiz">図鑑に登録する</a></div>

    <%= javascript_pack_tag 'kanji_quiz'%>
    <%= javascript_pack_tag 'toggle'%>
    </div>
</div>
<footer>
    <small>(C) 2022 LIBERAL EARTH (学習サイト) All Rights Reserved.</small>
</footer>