<!DOCTYPE html>
<html>
  <head>
    <title>KanjiApp</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap" rel="stylesheet">
    <link href="/assets/kanji_quiz.scss" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
    <link href="/assets/favicon.ico" rel="shortcut icon">
    <%= javascript_pack_tag 'jquery'%>
  </head>

  <body id="index">
    <%= yield %>
  </body>
</html>
